

.Transactions {

    text-align: center;
    color: white;

  }
  /* .balance{
    font-size:larger;    
  } */

  .table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout: fixed;
    display: table;
    width: 600px;
  }
  